[http]
	sslVerify = false
[user]
	email = burnitcerberus@gmail.com
	name = Gaurav VERMA
[core]
   pager = less
   editor = /usr/bin/vim
#[diff]
#   tool = vimdiff
#[merge]
#   tool = vimdiff
[color]
  diff = true
  status = true
  branch = true
  interactive = true
  grep = true
  ui = true
  pager = true

[color "status"]
  added = green
  changed = red bold
  untracked = magenta bold

[color "branch"]
  remote = yellow
